:root {
    font-family: 'Libre Franklin', system-ui, Avenir, sans-serif;
    font-weight: 400;
    --primary: rgb(236, 240, 243);
    --accent: rgb(119, 103, 228);
    --secondary: rgb(224, 232, 238);
    --title-color: rgb(24, 47, 88);
    --text-color: rgb(95, 107, 127);
    --gray: #888;
    --danger: #ff5b57;
    
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    --shadow-top: -1px -1px 3px rgba(255, 255, 255, 0.917);

    --business-glow: 0px 0px 4px rgba(119, 103, 228, 0.75);
    --personal-glow: 0px 0px 4px rgba(236, 240, 243, 0.75);
  }
  
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary);
    color: var(--text-color);
  }

  input:not([type="radio"]):not([type="checkbox"]), button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: initial;
  }

  section {
    margin-block: 2rem;
    padding-inline: 1.5rem;
  }

  h1, h2, h3 {
    color: var(--title-color);
  }

  h3 {
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  h4 {
    color: var(--gray);
    font-size: 0.875rem;
    font-weight: 700;
    margin-bottom: 0.5;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;
  }

  button:hover {
    border-color: #646cff;
  }

  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
