/* libre-franklin-300 - latin */
@font-face {
    font-display: swap;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 300;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-300.woff2') format('woff2');
  }

/* libre-franklin-regular - latin */
  @font-face {
    font-display: swap; 
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-400.woff2') format('woff2');
  }

/* libre-franklin-500 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 500;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-500.woff2') format('woff2');
  }

/* libre-franklin-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-600.woff2') format('woff2');
  }

/* libre-franklin-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-700.woff2') format('woff2');
  }

/* libre-franklin-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/libre-franklin-v18-latin/libre-franklin-v18-latin-800.woff2') format('woff2');
  }

/* manrope-regular - latin */
    @font-face {
        font-display: swap;
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        src: url('../assets/fonts/manrope-v15-latin/manrope-v15-latin-regular.woff2') format('woff2');
    }

  /* manrope-600 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/manrope-v15-latin/manrope-v15-latin-600.woff2') format('woff2');
  }

  /* manrope-700 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/manrope-v15-latin/manrope-v15-latin-700.woff2') format('woff2');
  }

  /* manrope-800 - latin */
  @font-face {
    font-display: swap;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    src: url('../assets/fonts/manrope-v15-latin/manrope-v15-latin-800.woff2') format('woff2');
  }

  /* poppins-300 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('../assets/fonts/poppins/poppins-v21-latin-300.woff2') format('woff2');
}


/* poppins-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/poppins/poppins-v21-latin-regular.woff2') format('woff2'); 
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/fonts/poppins/poppins-v21-latin-500.woff2') format('woff2'); 
}

/* poppins-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/poppins/poppins-v21-latin-600.woff2') format('woff2');
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/poppins/poppins-v21-latin-700.woff2') format('woff2');
}
/* poppins-800 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/poppins/poppins-v21-latin-800.woff2') format('woff2'); 
}

/* poppins-900 - latin */
@font-face {
  font-display: swap;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('../assets/fonts/poppins/poppins-v21-latin-900.woff2') format('woff2'); 
}

