  
  #app {
    box-sizing: border-box;
    width: 550px;
    height: 90vh;
    padding-top: 10px;
    background-color: var(--secondary);
    border-radius: 30px;
  }

.greeting .title {
    display: flex;
}

.greeting .title input {
    margin-left: 0.5rem;
    flex: 1 1 0%;
    min-width: 0;
}

.greeting .title, 
.greeting .title input {
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'Lora', serif;
}

.create-todo input[type="text"] {
    display: block;
    width: 90%;
    font-size: 1.125rem;
    padding: 1rem 1.5rem;
    color: var(--title-color);
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    margin-bottom: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.create-todo .todo-option {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-bottom: 1.5rem;
}

.create-todo .todo-option label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: whitesmoke;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  border: 2px solid var(--accent);
  box-shadow: var(--business-glow);
}

.bubble.personal {
  border-color: var(--personal);
  box-shadow: var(--personal-glow);
}